.contenedor form .form-header .form-title{
    font-weight: normal;
    color:white;
    text-align: center;
    padding: 14px 0;
}
.contenedor form{
    background: rgba(0,0,0,.6);
    width: 90%;
    max-width: 650px;
    margin: auto;
    padding: 5px 35px;
    margin-top: 30px;
    padding-bottom: 30px;
    border-radius: 3px;
}
.contenedor form .form-label{
    display: block;
    color: white;
    font-size: 16px;
    position: relative;
}
.contenedor form .form-input, .form-textarea{
    background: rgba(0,0,0,.7);
    border: none;
    outline: none;
    border-bottom: 2px solid #457b9d;
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border-radius: 2px;
    color: white;
}
.contenedor form .form-textarea{
    resize: vertical;
    max-height: 150px;
    min-height: 50px;
}
.contenedor form .btn-submit{
    width: 100%;
    outline: none;
    background-color: #457b9d;
    font-size:16px;
    border: none;
    color:white;
    padding: 15px 0;
    cursor: pointer;
    transition: 1s all;
    border: none;
    border-radius: 10px;
    margin-top: 5px;
}
.contenedor form .btn-submit:hover{
    background: #118ab2;
    transform: scale(1.1);
}
